
    {{>header}}
    <div class="col-sm-8">
  <h2>Teacher List</h2>
  <div class="text-right">
      <a class="btn btn-success" href="/add_teacher">Add Teacher</a>
  </div>         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>9897776556</td>
        <td>23</td>
        <td>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>sam</td>
        <td>9897776556</td>
        <td>23</td>
        <td>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>July</td>
        <td>9897776556</td>
        <td>43</td>
        <td>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

    
    {{>footer}}
   